jumbotron {
    background-image: url("/Images/milan-popovic-BmyXTxyDL-I-unsplash.jpg");
}
h1 {
    padding: 20px;
}

.jumbotron {
    background-image: url("/Images/milan-popovic-BmyXTxyDL-I-unsplash.jpg");
    background-position:center;
    background-size:cover;
    color: white;
}

.nav {
    padding: 50px;
}

.btn {
    margin: 50px;
}