jumbotron {
    background-image: url("/Images/milan-popovic-BmyXTxyDL-I-unsplash.jpg");
}
h1 {
    padding: 20px;
}

.nav {
    padding: 50px;
}

.btn {
    margin: 50px;
}

.nav-item {
display: flex;
justify-content: flex-end;
}

.close {
    justify-content: center;
}